@{
    ViewData["Title"] = "Home Page";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.1.1/css/tabulator.min.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.1.1/js/tabulator.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="js/animatedModal.js"></script>


<title>Document</title>
<div>
    <select id="filter-field">
        <option></option>
        <option value="name">Имя</option>
        <option value="phone">Телефон</option>
    </select>

    <select id="filter-type">
        <option value="=">=</option>
        <option value="<"><</option>
        <option value="<="><=</option>
        <option value=">">></option>
        <option value=">=">>=</option>
        <option value="!=">!=</option>
        <option value="like">like</option>
    </select>
    <input id="filter-value" type="text" placeholder="Значение для фильтра">
    <button id="filter-clear">Отчистить фильтр</button>
</div>

<button id="myBtn" >Добавить пользователя</button>
<div id="myModal" class="modal">
    <div class="modal-content">
        <input id="contactId" type="text" hidden />
        <div>
            <label>Имя</label>
            <input id="name" type="text" />
        </div>
        <div>
            <label>Телефон</label>
            <input id="phone" type="text" />
        </div>
    </div>
    <div class="close">
        <input  type="button" id="ButtonCancel" value="отмена" />
        <input type="button" id="ButtonOk" value="сохранить" />
    </div>
</div>
<div id="example-table"></div>

<script type="text/javascript" src="js/tab.js"></script>

<script type="text/javascript" src="js/postContact.js"></script>






@*//function showCover() {
    //    let coverDiv = document.createElement('div');
    //    coverDiv.id = 'cover-div';

    //    // убираем возможность прокрутки страницы во время показа модального окна с формой
    //    document.body.style.overflowY = 'hidden';

    //    document.body.append(coverDiv);
    //}
    //function hideCover() {
    //    document.getElementById('cover-div').remove();
    //    document.body.style.overflowY = '';
    //}
    //function showPrompt(text, callback, callback1) {
    //    showCover();
    //    let form = document.getElementById('prompt-form');
    //    let buttonOk = document.getElementById('ok');
    //    let container = document.getElementById('prompt-form-container');
    //    let name = document.getElementById('name');
    //    let phone = document.getElementById('phone');
    //    document.getElementById('prompt-message').innerHTML = text;
    //    name.value = '';
    //    phone.value = '';
    //    function complete(value, value1) {
    //        hideCover();
    //        container.style.display = 'none';
    //        document.onkeydown = null;
    //        callback(value);
    //        callback1(value1);
    //    }

    //    buttonOk.onclick = function () {
    //        let name = name.value;
    //        let phone = phone.value;
    //        if (name == '' || phone == '') return false; // игнорируем отправку пустой формы

    //        complete(name, phone);
    //        return false;
    //    };

    //form.cancel.onclick = function() {
    //    complete(null);
    //};

    //document.onkeydown = function(e) {
    //    if (e.key == 'Escape') {
    //        complete(null);
    //    }
    //};

    //let lastElem = form.elements[form.elements.length - 1];
    //let firstElem = form.elements[0];

    //lastElem.onkeydown = function(e) {
    //    if (e.key == 'Tab' && !e.shiftKey) {
    //        firstElem.focus();
    //        return false;
    //    }
    //};

    //firstElem.onkeydown = function(e) {
    //    if (e.key == 'Tab' && e.shiftKey) {
    //        lastElem.focus();
    //        return false;
    //    }
    //};

    //    container.style.display = 'block';
    //    //container.elements.name.focus();
    //}

    //document.getElementById('add-row').onclick = function () {
    //    showPrompt("Добавить новый контакт)", function (value, value1) {
    //        $.post(
    //            "/api/Contact",
    //            {
    //                Name: value,
    //                Phone: value1 * 1,
    //                UserId: 1
    //            },
    //        );
    //        GetData();
    //    });
    //};

*@